# Visual Studio
.vs/
Debug/
Release/
x64/
*.user
*.suo
*.ilk
*.pdb
*.idb
*.tlog
*.obj
*.log

# System files
desktop.ini
Thumbs.db

# Project files
*.txt.txt
*.bak

# Compiled libraries (keep only the necessary DLLs)
SDL2_lib/Dll/
SDL2_lib/*/lib/